.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
#table-column {
  overflow-y: auto;
  height: 100vh;
}
.selected-country {
  background-color: rgba(0,0,0,.05)
}
#country-inputs {
  display: none
}
.country-input, .model-input {
  width: 80px !important;
}
#income, #income-weighting, #income-max {
  width: 80px !important; 
}
#intro {}
#countryOutcomeChart {
  margin-top: 20px;
  margin-bottom: 20px;
}
#copyright {
  margin-top: 100px;
}
#weighting-outcomes {
  margin: 10px 0;
  padding: 5px;
}
#weightingInfo {
  display:none;
}