#map {
    width: 100%;
    height: 600px;
    border: 1px solid lightgray;
}
#mainHeading {
  padding: 1.5rem 0rem;
  text-align: center;
}
span.redirect { 
  unicode-bidi:bidi-override; 
  direction: rtl; 
}
#openViewButton {
  margin-bottom: 1rem;
}
