#map {
    width: 100%;
    height: 600px;
    border: 1px solid lightgray;
}
#mainHeading {
  padding: 1.5rem 0rem;
  text-align: center;
}
span.redirect { 
  unicode-bidi:bidi-override; 
  direction: rtl; 
}
.openViewLink {
  margin-bottom: 1rem;
}
#parentNodes {
  margin-bottom: 1rem;
}
#graphIntro {
  margin-bottom: 1rem; 
}
#homeLink {
  margin-top: 1rem;
}
.childNodeLink,.contributingFactorsLink {
  text-decoration: underline;
}
.nodeCard {
  margin-bottom: 1rem;
}
#graphIntroContainer, #graphContainer, #graphOpenSectionContainer, #graphHR {
  display: none;
}
#graphOpenSectionContainer {
  margin-bottom: 7rem;
}